<div ng-init="initDetailPage()">
<div id="container" class="container container-top">
    <div>
        <div class="col-xs-4 text-left">
            <ul class="pager mb10">
                <li class="previous"><a href="#/event-list">Back</a></li>
            </ul>
        </div>
        <div class="col-xs-4 text-center">
            <h3 class="text-center">Event</h3>
        </div>
        <div class="col-xs-4 text-right">
            <ul class="pager mb10">
                <li class="next">
                    <a href="javascript:void(0);" ng-show="isOwner" ng-click="goEditPage();">Edit</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <hr class="hr-margin" />
</div>
<div class="container">
    <div ng-show="detailEvent.title">
        <p><h3>{{ detailEvent.title }}</h3></p>
        <p><h4>{{ detailEvent.eventDateTimeFrom }}</h4></p>
        <p><h4>{{ detailEvent.eventTimeFrom }} - {{ detailEvent.eventTimeTo }}</h4></p>
        <p>{{ detailEvent.members }} members</p>
        <p>{{ detailEvent.address }}</p>
    </div>
</div>
</div>